@mixin flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin buttonSocialNetworks {
    background-color: transparent;
    border: 2px solid rgba(248, 144, 46, 1);
    border-radius: 50%;
    width: 34px;
    height: 34px;
}